<div class='jumbotron'>
  <h1>Shoe Stores <br> Supplies Sold</h1>
</div>
<h3>Oops, there were some errors: </h3>
<% if @brand %>
  <ul>
    <% @brand.errors().full_messages().each() do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<% if @store %>
  <ul>
    <% @store.errors().full_messages().each() do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<a href="/">Return to Homepage</a>
