<div class='jumbotron'>
  <h1>Shoe Stores <br> Supplies Sold</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <form action="/brands" method="post">
      <label for="new_brands"><h3>Add a new Brand</h3></label>
      <div class="form-group">
        <input class='form-control' id='brand_name' name="brand_name" placeholder="Brand Name">
      </div>
      <button type="submit" class="btn btn-warning">Add Brand</button>
    </form>
    <h3>These are all Brands logged:</h3>
    <ul>
      <% @brands.each() do |brand| %>
      <li><a href='/brands/<%= brand.id() %>'><%= brand.name() %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <form action="/stores" method="post">
      <label for="new_stores"><h3>Add a new Shoe Store</h3></label>
      <div class="form-group">
        <input class='form-control' id='store_name' name="store_name" placeholder="Shoe Store Name">
      </div>
      <button type="submit" class="btn btn-warning">Add Shoe Store</button>
    </form>
    <h3>These are all Shoe Stores logged:</h3>
    <ul>
      <% @stores.each() do |store| %>
      <li><a href='/stores/<%= store.id() %>'><%= store.name() %></a></li>
      <% end %>
    </ul>
  </div>
</div>
