<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Shoe Stores Supply</title>
  </head>
  <body>
    <div class='container'>
      <div class='jumbotron'>
        <h1>Shoe Stores Supply</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
