<h3><%= @store.name() %></h3>
<div class="row">
  <div class="col-md-6">
    <form action="/stores/<%= @store.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <input class="form-control" id="new_store" name="new_store" placeholder="Update Store Name">
      </div>
      <button type="submit" class="btn btn-success">Update Name</button>
    </form>
    <br>
    <br>
    <form action="/stores/<%= @store.id() %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger">Delete Store</button>
    </form>
  </div>

</div>
<br>
<a href='/'>Return to Homepage</a>
